@{
    Layout = "_EvalLayout.cshtml";
    Page.Title = "Evaluation Saved";
    var db = Database.Open("omesEvals");
}
<div class="alert alert-success" role="alert">
    <strong>Continue Evaluation.</strong>
</div>