@{ 
    Layout = "_Layout.cshtml";
    Page.Title = "Template Manager";
}
<div class="row justify-content-center templateManager">
    <h3 class="pageTitle">TEMPLATE MANAGER</h3>
    
    <a class="btn btn-outline-dark btn-block btn-lg" href="NewTemplate" target="_blank">Create New Template</a>
    <a class="btn btn-outline-dark btn-block btn-lg" href="ChooseTemplate" target="_blank">Edit Existing Template</a>
</div>